[data-theme="light"] {
  background-image: url('../assets/bg-game.png');
  background-repeat: repeat;
  background-color: #1e1b38;
  color: white;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
}

button {
  font-family: 'Space Grotesk', sans-serif;
}

label {
  color: white;
}
